{% extends "base.html.twig" %}
{% block title %}Dev & Sharing - Accueil
{% endblock %}
{% block pageTitle %}Dev & Sharing vous souhaite la bienvenue !
{% endblock %}
{% block content %}
	<section>
		<h1>Hugo ALoche,<br>le développeur qu'il vous faut !</h1>
	</section>
	<section class="section_articles">
		{% for article in articles %}
			<article>
				<div class="article_header">
					<img src="/images/{{article.src}}" alt="{{article.alt}}">
					<p>{{article.author}}<br>{{article.created_at}}</p>
				</div>
				<p class="article_chapo">{{article.title}}</p>
				<p class="article_chapo">{{article.chapo}}</p>
				<a href="index.php?action=article&id={{article.idarticle}}">
					<button>Voir plus</button>
				</a>
			</article>
		{% endfor %}
	</section>
	<section>
		<h2>Me contacter</h2>
		<form id="contactForm" method="POST">
			<div class="form_row">
				<div class="form_col">
					<label for="prenom">Prénom</label>
					<input type="text" name="prenom" id="prenom" placeholder="Votre prénom">
				</div>
				<div class="form_col">
					<label for="nom">Nom</label>
					<input type="text" name="nom" id="nom" placeholder="Votre nom">
				</div>
			</div>
			<div class="form_col">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" placeholder="Votre email">
			</div>
			<div class="form_col">
				<label for="message">Message</label>
				<textarea name="message" id="message" placeholder="Votre message"></textarea>
			</div>
			<div class="form_row">
				<input type="checkbox" name="rgpd" id="rgpd">
				<label for="rgpd">J'accepte que mes données soient utilisées pour me recontacter</label>
			</div>
			<button type="submit">Envoyer</button>
		</form>
	</section>
{% endblock %}
